body {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}

header {
	background-color: cadetblue;
	text-align: center;
	font-family: sans-serif;
	padding: 20px;
}

main {
	display: flex;
}

nav {
	background-color: lightblue;
	text-align: left;
	font-family: sans-serif;
	font-size: 14px;
	color: black;
	padding: 12px;
	width: 25%;
	min-width: 170px;
}

section {
	background-color: aliceblue;
	text-align: left;
	font-family: sans-serif;
	font-size: 12px;
	color: darkslategray;
	padding: 18px 12px 12px 22px;
	width: 75%;
}

footer {
	background-color: cadetblue;
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	color: white;
	padding: 20px;
}

header h1 {
	color: white;
	font-size: 36px;
	font-weight: bold;
}

h1 {
	color: darkslategray;
	font-size: 20px;
	font-weight: bold;
}

img {
	width: 100%;
	max-width: 450px;
	border: 10px solid cadetblue;
}